@font-face {
  font-family: "Gilroy";
  src: url(./components/font/Gilroy-ExtraBold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy";
  src: url(./components/font/Gilroy-Light.otf);
}
body {
  font-family: "Gilroy";
  background-color: #e5e3ff;
}
html {
  scroll-behavior: smooth;
}
/* for all page */
@keyframes logohide {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
  }
}
@keyframes logoshow {
  from {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.bg-me {
  background-color: hsl(240, 100%, 98%);
}
/* */
.scrollnav {
  box-shadow: 0 0.4px 6px 0 #2424321e;
}
.cls-1 {
  fill: #3f51b5;
}
.cls-2 {
  isolation: isolate;
}
/* Nav bar things */
nav svg {
  width: 60%;
  max-width: 300px;
  transition: 200ms;
}

nav li a {
  font-weight: bold;
  color: #545481;
  letter-spacing: 2px;
  font-size: 13px;
  transition: 200ms;
}
nav li a:hover {
  color: #3f51b5;
  transform: translate(0px, -2px);
}
nav li a:active {
  transition: 0ms;
  color: #8989df;
}

/* for the Main top page */
.txtdark {
  color: #242432;
  font-weight: bold;
  font-size: 40px;
}

.para {
  font-size: 15px;
}

.btn-me {
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  background: #4943ed;
  border: none;
}
.main img {
  width: 100%;
  max-width: 700px;
}

/* MEdia querys */
@media screen and (max-width: 1800px) {
  .txtdark {
    font-size: 40px;
  }
  .para {
    font-size: 17px;
  }
  .btn-me {
    font-size: 17px;
  }
  nav li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 992px) {
  nav svg {
    width: 170px;
  }
  .txtdark {
    font-size: 25px;
  }
  .para {
    font-size: 12px;
  }
  .btn-me {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  nav svg {
    width: 160px;
  }
}
@media screen and (max-width: 576px) {
  .txtdark br {
    display: none;
  }
  .txtdark {
    font-size: 27px;
    width: 70%;
    margin: 20px auto 6px auto;
  }
  .para {
    font-size: 15px;
    margin: auto;
    margin-bottom: 10px;
  }
  .btn-me {
    font-size: 14px;
  }
  .main img {
    width: 60%;
  }
}

/* Portfolio */
.txt p {
  font-size: 17px;
  color: #242432;

  font-weight: bold;
}
.txt hr {
  border: 1px solid #242432;
  width: 20%;
  margin: auto 0 auto 0;
  border-radius: 5px;
}
.por {
  width: 400px;
  border-radius: 8px;
  transition: 200ms;
}
.por:hover {
  box-shadow: 0 4px 10px 0 #7777868c;
  transform: translate(0, -2px);
  cursor: pointer;
}
.por:active {
  box-shadow: 0 1px 10px 2px #4e4e5f8c;
}
.do:last-child {
  width: 100px;
}
@media screen and (min-width: 2000px) {
  .por {
    width: 500px;
  }
  .skill {
    text-align: center;
  }
  .do {
    width: 70px;
  }
  .do:last-child {
    width: 130px;
  }
}
@media screen and (max-width: 992px) {
  .por {
    width: 300px;
    border-radius: 7px;
  }
}
@media screen and (max-width: 768px) {
  .por {
    width: 300px;
    border-radius: 6px;
  }
}
@media screen and (max-width: 768px) {
  .por {
    width: 80%;
    border-radius: 6px;
  }
}
@media screen and (max-width: 576px) {
  .por {
    width: 80%;
    border: 4px;
  }
}
footer {
  background-color: hsla(240, 51%, 81%, 0.144);
}

.contact h1 {
  color: #242432;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}
.contact button {
  outline: none;
  background: none;
  color: #242432;
  font-weight: bold;
  border: 2px solid #242432;
  border-radius: 50px;
}
.contact button:hover {
  background: #242432;
  color: white;
}
.contact button:active {
  background: #242432bb;
}
.contact h2 {
  color: #242432;
  font-size: 18px;
}
.contact h2 a {
  color: #6fda44;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
#hr:first-child {
  width: 70%;
}
#hr {
  border: 1px solid #24243223;
  width: 100%;
  margin: auto 0 auto 0;
  border-radius: 5px;
}
#git {
  color: #242432;
}
